{% extends "base.html" %}

{% block title %}{{ object }} | PBT Current{% endblock %}

{% block extrastyles %}
<style>
.parallaxphoto {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
	position: relative;
}
.parallaxphoto span {
	bottom: 0;
	color: white;
	display: block;
	margin-left: 5%;
	font-size: 28px;
	padding: 10px;
	position: absolute;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	width: 100%;
}

@media only screen and (max-device-width: 1024px) {
	.parallaxphoto {
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width:100%;
	}
	.parallaxphoto span {
		font-size: 18px;
	}
}

{% for photo in todays_images %}
	.parallaxphoto{{ photo.id }} {
			background-image: url(https://pbt-potd.s3.amazonaws.com/{{ photo.photo }});
	}
{% endfor %}

.camera-description {
	margin-left: 10%;
	margin-right: 10%;
}
</style>

<script type="text/javascript" src="https://potdtest.s3.amazonaws.com/static/js/jquery.stellar.min.js"></script>

<script>
	$(function(){
		$.stellar({
			horizontalScrolling: false,
			responsive: true
		});
	});
</script>
	
{% endblock %}

{% block heroimage %}
		<section class="featured hero-image hero-image-behind" style="background-image: url({% if object.iconic_photo %}https://pbt-potd.s3.amazonaws.com/{{ object.iconic_photo }}{% else %}http://pbt-potd.s3.amazonaws.com/static-images/mormonisland.jpg{% endif %}); background-position: center center;">
			<div class="container-fluid">

				<h2 class="post-title">{{ object }}</h2>
				
			</div>
		</section>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<p class="camera-description">{{ object.description }}</p>
	<center>
		<p><strong><a href="/{{ object.camera_slug }}/timelapse">See yesterday as a timelapse movie</a> or scroll down to see today's images.</strong></p>
	</center>
	{% for photo in todays_images %}
		<div class="parallaxphoto parallaxphoto{{ photo.id }}" data-stellar-background-ratio="0.5"><span>{{ photo.photo_datetime }}</span></div>
	{% endfor %}
</div>
{% endblock %}
