{% extends "base.html" %}

{% block title %}{{ object }} | PBT{% endblock %}

{% block extrastyles %}
.parallaxphoto {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
	position: relative;
}
.parallaxphoto span {
	bottom: 0;
	color: white;
	display: block;
	left: 50%;
	margin-left: -640px;
	font-size: 28px;
	padding: 10px;
	position: absolute;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	width: 100%;
}

{% for photo in todays_images %}
	.parallaxphoto{{ photo.id }} {
			background-image: url(https://pbt-potd.s3.amazonaws.com/{{ photo.photo }});
	}
{% endfor %}

<script type="text/javascript" src="/static/js/jquery.stellar.min.js"></script>
<script>
	$(function(){
		$.stellar({
			horizontalScrolling: false,
			responsive: true
		});
	});
</script>
	
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
{% endblock %}

{% block heroimage %}
		<section class="featured hero-image hero-image-behind" style="background-image: url({% if object.iconic_photo %}https://pbt-potd.s3.amazonaws.com/{{ object.iconic_photo }}{% else %}http://pbt-potd.s3.amazonaws.com/static-images/mormonisland.jpg{% endif %}); background-position: center center;">
			<div class="container-fluid">

				<h2 class="post-title">{{ object }}</h2>
				
			</div>
		</section>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<p>{{ object.description }}</p>
	{% for photo in todays_images %}
		<div class="parallaxphoto parallaxphoto{{ photo.id }}" data-stellar-background-ratio="0.5"><span>{{ photo.photo_datetime }}</span></div>
	{% endfor %}
	<center>
		<p><strong><a href="/{{ object.camera_slug }}/timelapse">See as a timelapse movie</a></strong></p>
	</center>
</div>
{% endblock %}