{% extends "base.html" %}

{% block title %}{{ object }} Timelapse | PBT Current{% endblock %}

{% block heroimage %}
		<section class="featured hero-image hero-image-behind" style="background-image: url({% if object.iconic_photo %}https://pbt-potd.s3.amazonaws.com/{{ object.iconic_photo }}{% else %}http://pbt-potd.s3.amazonaws.com/static-images/mormonisland.jpg{% endif %}); background-position: center center;">
			<div class="container-fluid">

				<h2 class="post-title">{{ object }} Timelapse</h2>
				
			</div>
		</section>
{% endblock %}

{% block content %}
<div class="container">
<h2>{% for object in todays_timelapse %}{{ object.movie_date|date:"DATE_FORMAT" }}{% endfor %}</h2>

			<video autoplay loop class="full" width="100%">
				<source src="https://pbt-potd.s3.amazonaws.com/{% for object in todays_timelapse %}{{ object.movie }}{% endfor %}">
			</video>
</div>

{% endblock %}
